<%- include('../components/head.ejs') %>
</head>
<body>
    <%- include('../components/navigation.ejs') %>
    <main>
        <% if(orders.length <= 0) { %>
            <h1>Nothing to order!</h1>
        <% } else { %>
            <ul>
                <% orders.forEach( order => { %>
                    <li>
                        <h5>Id: <%= order._id %> </h5>
                        <ul>
                           <% order.items.forEach(product => { %>
                            <li><%= product.name %> (<%= product.quantity %>) </li>
                            <% }); %>
                        </ul>
                    </li>
                <% }); %>
            </ul>
            
        <% } %>
    </main>
<%- include('../components/end.ejs') %>