<%- include('../components/head.ejs') %>
</head>
<body>
    <%- include('../components/navigation.ejs') %>
    <main class="centered">
        <h1><%= product.name %></h1>
        <hr>
        <div>
            <img src="<%= product.imageUrl %>" alt="<%= product.name %>">
        </div>
        <h2>Price: $<%= product.price %></h2>
        <p><%= product.description %></p>
            <%- include('../components/add-to-cart.ejs') %>
    </main>
 <%- include('../components/end.ejs') %>